.cartao-pokemon{
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;

    
}
.cartoes-pokemon{
	margin-top: 80px;
	margin-right: 50px;
	max-height: 950px;
	max-width: 950px;
	overflow: scroll;
}
.cartao-pokemon .cartao-topo{
    padding: 20px 40px 0;
}
.cartao-pokemon .nome{
    margin-bottom: 5px;

}

.cartao-pokemon .tipo{
    font-size: 12px;
    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cartao-pokemon .detalhes{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-pokemon .cartao-imagem{
    width: 350px;
    height: 350px;
    
}

.cartao-pokemon img{
    max-height: 100%;

}

.cartao-pokemon .cartao-informacoes{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 30px 30px 50px;
    margin-top: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.cartao-pokemon .cartao-informacoes h3{
    font-size: 20px;
    margin-bottom: 15px;
    position: absolute;

}

.cartao-pokemon .cartao-informacoes text{
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;

}

.cartao-pokemon .cartao-informacoes .status, .cartao-pokemon .cartao-informacoes .habilidades{
    padding: 0 10px;
    width: 180px;
	

}
.cartao-pokemon .cartao-informacoes .habilidades ul li, .cartao-pokemon .cartao-informacoes .status ul li{
    border-bottom: 1PX solid #C3C4C5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
.cartao-pokemon.aberto{
    display: block;
}


.tipo-eletrico{
    background-color: #009bc1;
}
.tipo-agua{
    background-color: #009bc1;
}
.tipo-fogo{
    background-color: #009bc1;
}
.tipo-grama{
    background-color: #009bc1;
}
.tipo-trevas{
    background-color: #009bc1;
}
.tipo-dragao{
    background-color: #009bc1;
}
