.listagem{
    max-width: 200px;
}

.listagem .instancia{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    margin-bottom: 10px;
    background-color: #6b727a;
    color: #ffffff;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

.submenu:hover ul{
    display: block;
}

.listagem .instancia:hover{
    transform: scale(1.05);
}

.listagem .instancia img{
    width: 25%;
    border-radius: 50%;
}

.listagem .instancia, span{
    padding-right: 20px;
    
}

.listagem .instancia.ativo{
    background-color: #5de650;
}

.listagem .instancia a{
    text-decoration: none;
    color: #ffffff;
}
